<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tuteone.plustwow" 
		version="1.0.0" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TuteOne Plus Two Welcome</name>
    <description>
        TuteOne Plus Two Welcome App
    </description>
    <author email="tuteone2015@gmail.com" href="http://tuteone.com">
        TuteOne Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
</widget>
