

body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.rplm-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

/* Overlay change */
body[data-overlay=black] .rplm-overlay{
  background-color: rgba(0, 0, 0, 0.8);
}
body[data-overlay=black] .rplm-overlay + .showRepleteModal{
  box-shadow: 0 0 30px rgba(255,255,255,0.35);
}
body[data-overlay=white] .rplm-overlay{
  background-color: rgba(255, 255, 255, 0.8);
}
body[data-overlay=white] .rplm-overlay + .showRepleteModal,
body[data-overlay=transparent] .rplm-overlay + .showRepleteModal{
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
body[data-overlay=transparent] .rplm-overlay{
  background-color: transparent;
}
body[data-overlay=blur] .rplm-overlay{
  background-color: rgba(0,0,0,0);
}
body[data-overlay=blur] .blur-overlay{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
/*Modal close button color*/
body[data-modal=black] .showRepleteModal.rplm-alert .close-icon:before, 
body[data-modal=black] .showRepleteModal.rplm-alert .close-icon:after{
  background-color: #FFFFFF !important;
}
body[data-closebtncolor=black] .rplm-alert .close-icon:before,body[data-closebtncolor=black] .rplm-alert .close-icon:after{
  background-color: #3D0000 !important;
}
body[data-closebtncolor=white] .rplm-alert .close-icon:before,body[data-closebtncolor=white] .rplm-alert .close-icon:after{
  background-color: #FFFFFF;
}
/* Modal theme change*/
body[data-modal=black] .rplm-overlay{
  background-color: rgba(255, 255, 255 ,0.8);
}
body[data-modal=black] .showRepleteModal .content-wrap, body[data-modal=black] .showRepleteModal .rm-button-container{
  background-color: #333333;
}
body[data-modal=black] .showRepleteModal h2,
body[data-modal=black] .showRepleteModal .content-wrap p{
  color: #ddd;
}
body[data-modal=white] .rplm-overlay{
  background-color: rgba(0, 0, 0 ,0.8);
}
body[data-modal=white] .showRepleteModal .content-wrap{
  background-color: #fff;
}
body[data-modal=white] .showRepleteModal .content-wrap h2, body[data-modal=white] .showRepleteModal .content-wrap p{
  color: #000;
}
body[data-modal=transparent] .rplm-overlay{
  background-color: rgba(255, 255, 255 ,0.8);
}
body[data-modal=transparent] .showRepleteModal .content-wrap, body[data-modal=transparent] .showRepleteModal .rm-button-container,body[data-modal=transparent] .rplm-alert{
  background-color: transparent;
}
body[data-modal=transparent] .showRepleteModal .content-wrap h2, body[data-modal=transparent] .showRepleteModal .content-wrap p{
  color: #000;
}
body[data-modal=roundBorder] .showRepleteModal .content-wrap{
  border-radius: 5px;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
body[data-modal=roundBorder] .showRepleteModal .rm-button-container{
  border-radius: 5px;
}
body[data-modal=backShadow] .showRepleteModal .content-wrap, body[data-modal=backShadow] .showRepleteModal .rm-button-container{
  box-shadow: 0px 0px 30px rgba(255,255,255,0.5);
}

.rplm-alert {
  background-color: white;
  font-family: 'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left:0;
  right:0;
  top:50%;
  margin: auto;
  display: none;
  z-index: 99999; 
  }
  .rplm-alert iframe, .rplm-alert img{width: 100%;}
  .rplm-alert .content-wrap{background-color:#ff6b6b; overflow:hidden;}
  body[data-padding=true] .rplm-alert .content-wrap{padding : 17px; }
  body[data-padding=false] .rplm-alert .content-wrap{padding : 0; }
  .rplm-alert .rm-button-container{padding-bottom : 17px; background-color: #FFFFFF;}
  .rplm-alert a{color:#000; text-decoration: none; border: none;}
   @media (max-height: 560px) {
   .rplm-alert {
     max-height: 70%;
     overflow-y: auto;​}}
  @media all and (max-width: 540px) {
    .rplm-alert {
      width: auto !important;
      margin-left: 0;
      margin-right: 0;
      left: 15px;
      right: 13%;
      max-height: 70%;
      overflow-y: auto;​ }}
  .rplm-alert h2 {
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    margin: 20px 0;
    padding: 0;
    line-height: 40px;
    display: block; }
  .rplm-alert .rm-error-container p{color:inherit;}
  .rplm-alert p {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    position: relative;
    float: none;
    margin: 0;
    padding: 0;}
    .rplm-alert p pre{
      text-align: left;
      background-color: #FFFFFF;
    }
  .rplm-alert fieldset {
    border: none;
    position: relative; }
  .rplm-alert .rm-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    webkit-transition: padding 0.15s, max-height 0.15s;
    transition: padding 0.15s, max-height 0.15s; }
    .rplm-alert .rm-error-container.show {
      padding: 10px 0;
      max-height: 100px;
      webkit-transition: padding 0.2s, max-height 0.2s;
      transition: padding 0.25s, max-height 0.25s; }
    .rplm-alert .rm-error-container .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #ea7d7d;
      color: white;
      line-height: 24px;
      text-align: center;
      margin-right: 3px; }
    .rplm-alert .rm-error-container p {
      display: inline-block; }
  .rplm-alert .rm-input-error {
    position: absolute;
    top: 23px;
    right: 26px;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    .rplm-alert .rm-input-error::before, .rplm-alert .rm-input-error::after {
      content: "";
      width: 20px;
      height: 6px;
      background-color: #f06e57;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 50%;
      margin-left: -9px; }
    .rplm-alert .rm-input-error::before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .rplm-alert .rm-input-error::after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .rplm-alert .rm-input-error.show {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }
      .rplm-alert input[type=checkbox]{ width: auto;   padding: 0;   margin: 0;   margin-right: 15px;   height: auto;}
      .rplm-alert .span6{ width: 49%; }
      .rplm-alert .left{ float:left; }
      .rplm-alert .right{ float:right; }
  .rplm-alert textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 12px;
    color: #000;
    }
    .rplm-alert select{
        color: #000;
    }
    .rplm-alert input, .rplm-alert textarea, .rplm-alert keygen, .rplm-alert select, .rplm-alert button {
      font-family: "Quicksand",arial,sans-serif;
    }
    .rplm-alert input, .rplm-alert select {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 0 12px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .rplm-alert input:focus {
      outline: none;
      box-shadow: 0px 0px 3px #c4e6f5;
      border: 1px solid #b4dbed; }
      .rplm-alert input:focus::-moz-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .rplm-alert input:focus:-ms-input-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .rplm-alert input:focus::-webkit-input-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
    .rplm-alert input::-moz-placeholder {
      color: #bdbdbd; }
    .rplm-alert input:-ms-input-placeholder {
      color: #bdbdbd; }
    .rplm-alert input::-webkit-input-placeholder {
      color: #bdbdbd; }
    .rplm-alert .content-wrap > fieldset input {display: none;}
    .rplm-alert.show-input .content-wrap > fieldset input {
    display: block; }
  .rplm-alert .rm-confirm-button-container {
    display: inline-block;
    position: relative; }
  .rplm-alert .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden; }
  .rplm-alert button {
    background-color: #8CD4F5;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
    .rplm-alert button:focus {
      outline: none;
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .rplm-alert button:hover {
      background-color: #7ecff4; }
    .rplm-alert button:active {
      background-color: #5dc2f1; }
    .rplm-alert button.cancel {
      background-color: #ff6b6b; }
      .rplm-alert button.cancel:hover {
        background-color: #FF8989; }
      .rplm-alert button.confirm:hover, .rplm-alert button.confirm:focus {
        background-color: #46B9B1 !important; }
      .rplm-alert button.cancel:active {
        background-color: #a8a8a8; }
      .rplm-alert button.cancel:focus {
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
    .rplm-alert button[disabled] {
      opacity: .6;
      cursor: default; }
    .rplm-alert button.confirm[disabled] {
      color: transparent; }
      .rplm-alert button.confirm[disabled] ~ .la-ball-fall {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s; }
    .rplm-alert button::-moz-focus-inner {
      border: 0; }
  .rplm-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
  .rplm-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
    /*padding-bottom: 40px;*/ }
  .rplm-alert .rm-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box; }
    .rplm-alert .rm-icon.rm-error {
    border-color: transparent;}
      .rplm-alert .rm-icon.rm-error .rm-x-mark {
        position: relative;
        display: block; }
      .rplm-alert .rm-icon.rm-error .rm-line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: #F27474;
        display: block;
        top: 37px;
        border-radius: 2px; }
        .rplm-alert .rm-icon.rm-error .rm-line.rm-left {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 17px; }
        .rplm-alert .rm-icon.rm-error .rm-line.rm-right {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 16px; }
    .rplm-alert .rm-icon.rm-warning {
      border-color: #F8BB86; }
      .rplm-alert .rm-icon.rm-warning .rm-body {
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #F8BB86; }
      .rplm-alert .rm-icon.rm-warning .rm-dot {
        position: absolute;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: #F8BB86; }
    .rplm-alert .rm-icon.rm-info {
      border-color: rgb(140, 212, 245); }
      .rplm-alert .rm-icon.rm-info::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: rgb(140, 212, 245); }
      .rplm-alert .rm-icon.rm-info::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        left: 50%;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: rgb(140, 212, 245); }
    .rplm-alert .rm-icon.rm-custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat; }
  .rplm-alert .rm-prevent-link{
    text-align: right;
    bottom: -10px;
    right: 10px;
    position: relative;
    font-size: 11px;
    color: gray;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.9px;
    cursor: pointer;
  }
/*
 * Animations
 */
@-webkit-keyframes showRepleteModal {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes showRepleteModal {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-webkit-keyframes hideRepleteModal {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes hideRepleteModal {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@-webkit-keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

.showRepleteModal[data-animation=pop] {
  -webkit-animation: showRepleteModal 0.3s;
  animation: showRepleteModal 0.3s; }

.showRepleteModal[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.showRepleteModal[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s; }

.showRepleteModal[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s; }

.hideRepleteModal[data-animation=pop] {
  -webkit-animation: hideRepleteModal 0.2s;
  animation: hideRepleteModal 0.2s; }

.hideRepleteModal[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.hideRepleteModal[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s; }

.hideRepleteModal[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

.rplm-alert .animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.rplm-alert .animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.rplm-alert .rm-icon.rm-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

.rplm-alert .animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.rplm-alert .animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

.rplm-alert ..rplm-alert  {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

.rplm-alert .pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into rplm-alert.min.js through Gulp */
/* Error icon */
.rplm-alert .rm-icon.rm-error .rm-line.rm-left {
  -ms-transform: rotate(45deg) \9; }

.rplm-alert .rm-icon.rm-error .rm-line.rm-right {
  -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.rplm-alert .rm-icon.rm-success {
  border-color: transparent; }

.rplm-alert .rm-icon.rm-success .rm-line.rm-tip {
  -ms-transform: rotate(45deg) \9; }

.rplm-alert .rm-icon.rm-success .rm-line.rm-long {
  -ms-transform: rotate(-45deg) \9; }

/*!
 * Replete Modal Positions
 */
.showRepleteModal[data-position=topLeft], .hideRepleteModal[data-position=topLeft] {
  top:0 !important;
  left:0 !important;
  margin-top:0 !important;
  margin-left:0 !important;
}

.showRepleteModal[data-position=topCenter], .hideRepleteModal[data-position=topCenter] {
  top:0 !important;
  margin-top:0 !important;
}

.showRepleteModal[data-position=topRight], .hideRepleteModal[data-position=topRight] {
  top:0 !important;
  left:100% !important;
  margin-top:0 !important;
  margin-left: -478px !important;
}

@media all and (max-width: 540px) {
  .showRepleteModal[data-position=topRight], .hideRepleteModal[data-position=topRight] {
    top: 0 !important;
    left: 15px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    right: 0;
  }     
}
.showRepleteModal[data-position=leftCenter], .hideRepleteModal[data-position=leftCenter] {
  left:0 !important;
  margin-left:0 !important;
}

.showRepleteModal[data-position=rightCenter], .hideRepleteModal[data-position=rightCenter] {
  left:100% !important;
  margin-left: -478px !important;
}
@media all and (max-width: 540px) {
  .showRepleteModal[data-position=rightCenter], .hideRepleteModal[data-position=rightCenter] {
    left: 15px !important;
    margin-left: 0 !important;
    right: 0;
  }     
}
.showRepleteModal[data-position=bottomLeft], .hideRepleteModal[data-position=bottomLeft] {
  left:0 !important;
  bottom:0 !important;
  margin-left:0 !important;
  margin-top: 0 !important;
  top:auto !important;
}

.showRepleteModal[data-position=bottomCenter], .hideRepleteModal[data-position=bottomCenter] {
  bottom:0 !important;
  margin-top: 0 !important;
  top:auto !important;
}

.showRepleteModal[data-position=bottomRight], .hideRepleteModal[data-position=bottomRight] {
  bottom:0 !important;
  left:100% !important;
  margin-left: -478px !important;
  margin-top: 0 !important;
  top:auto !important;
}
@media all and (max-width: 540px) {
.showRepleteModal[data-position=bottomRight], .hideRepleteModal[data-position=bottomRight] {
    bottom: 0 !important;
    left: 15px !important;
    margin-left: 0 !important;
    right: 0 !important;
  }     
}


/*
Close Button
*/
.rplm-alert .close-icon {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 30px;
  height: 25px;
  opacity: 0.5;
}
.rplm-alert .close-icon:hover {
  opacity: 1;
}
.rplm-alert .close-icon:before, .rplm-alert .close-icon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #3D0000;
}
.rplm-alert .close-icon:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.rplm-alert .close-icon:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.rplm-alert .close-btn {
  position: absolute;
  cursor: pointer;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  -moz-animation: ball-fall 1s ease-in-out infinite;
  -o-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  -moz-animation-delay: -200ms;
  -o-animation-delay: -200ms;
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  -moz-animation-delay: -100ms;
  -o-animation-delay: -100ms;
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%); } }

@-moz-keyframes ball-fall {
  0% {
    opacity: 0;
    -moz-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -moz-transform: translateY(145%);
    transform: translateY(145%); } }

@-o-keyframes ball-fall {
  0% {
    opacity: 0;
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -o-transform: translateY(145%);
    transform: translateY(145%); } }

@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    -moz-transform: translateY(145%);
    -o-transform: translateY(145%);
    transform: translateY(145%); } }

/*****************/
/* SVG css start */
/*****************/

/*Genral*/
.rplm-alert .flat-filled .icon > path {
    fill: #f26c63;
    -moz-transform: translate(0px ,0px) scale(1,1);
    -webkit-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
.rplm-alert .flat-filled .icon > .lightning {
    fill: #f26c63;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
.rplm-alert .flat-filled .circle {
    fill: #fff;
    transform: translate(0px, 0px) scale(1,1);
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
}
/*Exceptions*/
.rplm-alert #filled-user .collar_right {
    fill: #f26c63;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
.rplm-alert #filled-user .collar_left {
    fill: #f26c63;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
.rplm-alert #filled-lightning .bolt {
    fill: #f26c63;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
.rplm-alert #filled-lightning .highlight {
    fill: #f26c63;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
.rplm-alert #filled-mic .bars_right rect {
    fill: #f26c63;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
.rplm-alert #filled-coffee .top {
    fill: #f26c63;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
    : ;
}
/*Specifics*/
.rplm-alert #filled-browser .green { fill: #FFF }
.rplm-alert #filled-browser .orange { fill: #FFF }
.rplm-alert #filled-browser .red { fill: #FFF }
.rplm-alert #filled-brush .brush_silver { fill: #FFF }
.rplm-alert #filled-calander .number { fill: #FFF }
.rplm-alert #filled-camera .lens_inner { fill: #FFF }
.rplm-alert #filled-clock .seconds { fill: #FFF }
.rplm-alert #filled-clock .middle { fill: #FFF }
.rplm-alert #filled-clock .hour { fill: #FFF }
.rplm-alert #filled-clock .minute { fill: #FFF }
.rplm-alert #filled-coffee .middle { fill: #FFF }
.rplm-alert #filled-diamond .middle { fill: #FFF }
.rplm-alert #filled-diamond .top_3 { fill: #FFF }
.rplm-alert #filled-disk .top { fill: #FFF }
.rplm-alert #filled-disk .top_right { fill: #FFF }
.rplm-alert #filled-disk .text { fill: #FFF }
.rplm-alert #filled-email .paper { fill: #FFF }
.rplm-alert #filled-home .hole { fill: #FFF }
.rplm-alert #filled-location .inner { fill: #FFF }
.rplm-alert #filled-lock .keyhole { fill: #FFF }
.rplm-alert #filled-message .dots { fill: #FFF }
.rplm-alert #filled-picture .sun { fill: #FFF }
.rplm-alert #filled-picture .mountain { fill: #FFF }
.rplm-alert #filled-mic .bars_left { fill: #FFF }
.rplm-alert #filled-mic .bars_right rect { fill: #FFF }
.rplm-alert #filled-paper .text { fill: #FFF }
.rplm-alert #filled-paper .corner { fill: #FFF }
.rplm-alert #filled-pencil .metal { fill: #FFF }
.rplm-alert #filled-phone .screen { fill: #FFF }
.rplm-alert #filled-phone .details { fill: #FFF }
.rplm-alert #filled-robot .eyes { fill: #FFFFFF }
.rplm-alert #filled-suitcase .buttons { fill: #FFF }
.rplm-alert #filled-tag .dot { fill: #FFF }
.rplm-alert #filled-thumbsdown .dot { fill: #FFFFFF }
.rplm-alert #filled-thumbsup .dot { fill: #FFFFFF }
.rplm-alert #filled-trash .details { fill: #FFF }
.rplm-alert #filled-winner .text { fill: #FFFFFF }
/*=============================================
[ Hover Styles ]
==============================================*/
.rplm-alert #filled-browser .circle { fill: #B1EB5B }
.rplm-alert #filled-browser .screen { fill: #d6d6d6 }
.rplm-alert #filled-browser .base { fill: #b0b0b0 }
.rplm-alert #filled-browser .top { fill: #8F8F8F }
.rplm-alert #filled-browser .green { fill: #AEE42D }
.rplm-alert #filled-browser .orange { fill: #FFD02C }
.rplm-alert #filled-browser .red { fill: #E64545 }
.rplm-alert #filled-brush .brush_base { fill: #00A3C6 }
.rplm-alert #filled-brush .brush_highlight { fill: #43C1DC }
.rplm-alert #filled-brush .brush_silver { fill: #C8C8C8 }
.rplm-alert #filled-brush .brush_tip { fill: #917152 }
.rplm-alert #filled-brush .circle { fill: #F0A878 }
.rplm-alert #filled-calander .circle { fill: #F3CF3F }
.rplm-alert #filled-calander .base_top { fill: #5B3F89 }
.rplm-alert #filled-calander .left { fill: #848484 }
.rplm-alert #filled-calander .right { fill: #848484 }
.rplm-alert #filled-calander .number { fill: #fff }
.rplm-alert #filled-calander .base_bottom { fill: #644892 }
.rplm-alert #filled-camera  .circle { fill: #F39C12 }
.rplm-alert #filled-camera .base { fill: #E0DECD }
.rplm-alert #filled-camera .strip { fill: #3376D2 }
.rplm-alert #filled-camera .lens { fill: #CAC8B7 }
.rplm-alert #filled-camera .lens_inner { fill: #A6A495 }
.rplm-alert #filled-camera .flash { fill: #FFF }
.rplm-alert #filled-camera .red { fill: #D25133 }
.rplm-alert #filled-camera .button { fill: #A6A496 }
.rplm-alert #filled-clock .circle { fill: #02BD85 }
.rplm-alert #filled-clock .base { fill: #FF8933 }
.rplm-alert #filled-clock .face { fill: #FFF }
.rplm-alert #filled-clock .seconds { fill: #FF725F }
.rplm-alert #filled-clock .middle { fill: #808080 }
.rplm-alert #filled-clock .hour { fill: #808080 }
.rplm-alert #filled-clock .minute { fill: #808080 }
.rplm-alert #filled-coffee .circle { fill: #82D8B5 }
.rplm-alert #filled-coffee .base { fill: #8F6349 }
.rplm-alert #filled-coffee .middle { fill: #9C8679 }
.rplm-alert #filled-coffee .top { fill: #F1F1F1 }
.rplm-alert #filled-diamond .circle { fill: #02BD85 }
.rplm-alert #filled-diamond .middle { fill: #D87598 }
.rplm-alert #filled-diamond .top_3 { fill: #FFC8DB }
.rplm-alert #filled-diamond .top_2 { fill: #F2A0BD }
.rplm-alert #filled-diamond .top_1 { fill: #F2A0BD }
.rplm-alert #filled-diamond .top_left { fill: #D87598 }
.rplm-alert #filled-diamond .top_right { fill: #D87598 }
.rplm-alert #filled-diamond .right { fill: #C15179 }
.rplm-alert #filled-diamond .left { fill: #FFC8DB }
.rplm-alert #filled-disk .circle { fill: #F3CF3F }
.rplm-alert #filled-disk .base { fill: #5D699B }
.rplm-alert #filled-disk .top { fill: #B2B2B2 }
.rplm-alert #filled-disk .top_right { fill: #747A90 }
.rplm-alert #filled-disk .bottom { fill: #D9D9C2 }
.rplm-alert #filled-disk .text { fill: #747A90 }
.rplm-alert #filled-email .circle { fill: #7D79BC }
.rplm-alert #filled-email .top { fill: #3DD97F }
.rplm-alert #filled-email .paper { fill: #FFFFFF }
.rplm-alert #filled-email .base { fill: #2DB466 }
.rplm-alert #filled-email .text { fill: #BBBBBB }
.rplm-alert #filled-film .circle { fill: #8DD0BE }
.rplm-alert #filled-film .base { fill: #6E6E6E }
.rplm-alert #filled-film .bottom { fill: #515151 }
.rplm-alert #filled-film .top { fill: #8C8C8C }
.rplm-alert #filled-flag .circle { fill: #8DD0BE }
.rplm-alert #filled-flag .bottom { fill: #FF5400 }
.rplm-alert #filled-flag .shadow { fill: #C03F00 }
.rplm-alert #filled-flag .top { fill: #FF5400 }
.rplm-alert #filled-flag .pole { fill: #676767 }
.rplm-alert #filled-folder .circle { fill: #82D8B5 }
.rplm-alert #filled-folder .back { fill: #9C4588 }
.rplm-alert #filled-folder .paper_back { fill: #D9D9D9 }
.rplm-alert #filled-folder .paper_front { fill: #fff }
.rplm-alert #filled-folder .front { fill: #BF67AB }
.rplm-alert #filled-graph .circle { fill: #E3A7C0 }
.rplm-alert #filled-graph .bar_left { fill: #7BC156 }
.rplm-alert #filled-graph .bar_middle { fill: #92D76C }
.rplm-alert #filled-graph .bar_right { fill: #64A242 }
.rplm-alert #filled-graph .front { fill:  }
.rplm-alert #filled-graph .dot_4,
.rplm-alert #filled-graph .dot_3,
.rplm-alert #filled-graph .dot_2,
.rplm-alert #filled-graph .dot_1 { fill: #fff }
.rplm-alert #filled-heart .circle { fill: #02BD85 }
.rplm-alert #filled-heart .base { fill: #BC4B36 }
.rplm-alert #filled-heart .left { fill: #db5940 }
.rplm-alert #filled-home .circle { fill: #02BD85 }
.rplm-alert #filled-home .base { fill: #F1F1F1 }
.rplm-alert #filled-home .hole { fill: #C3C3C3 }
.rplm-alert #filled-home .roof { fill: #D34141 }
.rplm-alert #filled-lightning .circle { fill: #423D5B }
.rplm-alert #filled-lightning .bolt { fill: #FFD928 }
.rplm-alert #filled-lightning .highlight { fill: #FFF3B9 }
.rplm-alert #filled-location .circle { fill: #4890A8 }
.rplm-alert #filled-location .base { fill: #B6351B }
.rplm-alert #filled-location .inner { fill: #7E2412 }
.rplm-alert #filled-lock .circle { fill: #02AF7E }
.rplm-alert #filled-lock .base { fill: #C9A80D }
.rplm-alert #filled-lock .baselight { fill: #D9BC36 }
.rplm-alert #filled-lock .keyhole { fill: #8A7200 }
.rplm-alert #filled-lock .bar { fill: #C6C6C6 }
.rplm-alert #filled-magnify .circle { fill: #F2D65F }
.rplm-alert #filled-magnify .base { fill: #34B9F1 }
.rplm-alert #filled-magnify .glass { fill: #8DDDFF }
.rplm-alert #filled-message .circle { fill: #AC5D9F }
.rplm-alert #filled-message .back { fill: #FFAD10 }
.rplm-alert #filled-message .front { fill: #00A3C6 }
.rplm-alert #filled-message .dots { fill: #006A81 }
.rplm-alert #filled-mic .circle { fill: #F3CF3F }
.rplm-alert #filled-mic .base { fill: #40979F }
.rplm-alert #filled-mic .stand { fill: #5F8083 }
.rplm-alert #filled-mic .bars_left { fill: #267178 }
.rplm-alert #filled-mic .bars_right rect { fill: #267178 }
.rplm-alert #filled-paper .circle { fill: #D6D6B8 }
.rplm-alert #filled-paper .base { fill: #929292 }
.rplm-alert #filled-paper .front { fill: #FFFFFF }
.rplm-alert #filled-paper .corner { fill: #D6D6D6 }
.rplm-alert #filled-paper .text { fill: #BBBBBB }
.rplm-alert #filled-pencil .circle { fill: #CDEFE1 }
.rplm-alert #filled-pencil .wood { fill: #FFC833 }
.rplm-alert #filled-pencil .base_top { fill: #456FD8 }
.rplm-alert #filled-pencil .base_bottom { fill: #3258B6 }
.rplm-alert #filled-pencil .base_middle { fill: #567FE5 }
.rplm-alert #filled-pencil .tip { fill: #567FE5 }
.rplm-alert #filled-pencil .eraser { fill: #FF72B1 }
.rplm-alert #filled-pencil .metal { fill: #C6C6C6 }
.rplm-alert #filled-phone .circle { fill: #E55D57 }
.rplm-alert #filled-phone .base { fill: #6F82A4 }
.rplm-alert #filled-phone .screen { fill: #A5B5D3 }
.rplm-alert #filled-phone .details { fill: #516078 }
.rplm-alert #filled-picture .circle { fill: #B1EB5B }
.rplm-alert #filled-picture .back { fill: #A46B49 }
.rplm-alert #filled-picture .front { fill: #CE8A61 }
.rplm-alert #filled-picture .sky { fill: #DCF5FF }
.rplm-alert #filled-picture .sun { fill: #FF7800 }
.rplm-alert #filled-picture .mountain { fill: #3B8C1E }
.rplm-alert #filled-plane .circle { fill: #E88D70 }
.rplm-alert #filled-plane .bottom { fill: #007D7E }
.rplm-alert #filled-plane .right { fill: #4ED0D1 }
.rplm-alert #filled-plane .middle { fill: #3AAAAB }
.rplm-alert #filled-plane .left { fill: #4ED0D1 }
.rplm-alert #filled-present .circle { fill: #4890A8 }
.rplm-alert #filled-present .base { fill: #F1F1F1 }
.rplm-alert #filled-present .top { fill: #C3C3C3 }
.rplm-alert #filled-present .ribbon { fill: #D34141 }
.rplm-alert #filled-robot .circle { fill: #E88D70 }
.rplm-alert #filled-robot .ears { fill: #39517A }
.rplm-alert #filled-robot .base { fill: #4C70AF }
.rplm-alert #filled-robot .highlight { fill: #6384BE }
.rplm-alert #filled-robot .antenna { fill: #A0ABBD }
.rplm-alert #filled-robot .eyes { fill: #FFFFFF }
.rplm-alert #filled-rocket .circle { fill: #4BAE97 }
.rplm-alert #filled-rocket .engine { fill: #7D7D7D }
.rplm-alert #filled-rocket .base { fill: #B0CED8 }
.rplm-alert #filled-rocket .window { fill: #8BABB6 }
.rplm-alert #filled-rocket .glass { fill: #FFFFFF }
.rplm-alert #filled-rocket .flame { fill: #FF5400 }
.rplm-alert #filled-screen .circle { fill: #F8B243 }
.rplm-alert #filled-screen .stand { fill: #516078 }
.rplm-alert #filled-screen .base { fill: #6F82A4 }
.rplm-alert #filled-screen .highlight { fill: #A5B5D3 }
.rplm-alert #filled-screen .logo { fill: #516078 }
.rplm-alert #filled-settings .circle { fill: #E3A7C0 }
.rplm-alert #filled-settings .base { fill: #8BAE5D }
.rplm-alert #filled-settings .top { fill: #698741 }
.rplm-alert #filled-spaceship .circle { fill: #02BD85 }
.rplm-alert #filled-spaceship .light { fill: #FFF3B9 }
.rplm-alert #filled-spaceship .glass { fill: #8DDDFF }
.rplm-alert #filled-spaceship .base { fill: #7E8CA6 }
.rplm-alert #filled-spaceship .circles { fill: #56627A }
.rplm-alert #filled-storm .circle { fill: #90C0D8 }
.rplm-alert #filled-storm .cloud { fill: #858585 }
.rplm-alert #filled-storm .lightning { fill: #FFAD10 }
.rplm-alert #filled-suitcase .circle { fill: #02BD85 }
.rplm-alert #filled-suitcase .top { fill: #9A4C1D }
.rplm-alert #filled-suitcase .bottom { fill: #B75B24 }
.rplm-alert #filled-suitcase .buttons { fill: #C89211 }
.rplm-alert #filled-tag .circle { fill: #D6D6B8 }
.rplm-alert #filled-tag .base { fill: #FFBA00 }
.rplm-alert #filled-tag .dot { fill: #C38E00 }
.rplm-alert #filled-thumbsdown .circle { fill: #E74C3C }
.rplm-alert #filled-thumbsdown .base { fill: #F1CDB0 }
.rplm-alert #filled-thumbsdown .sleeve { fill: #E1AF45 }
.rplm-alert #filled-thumbsdown .cuff { fill: #339FA9 }
.rplm-alert #filled-thumbsdown .dot { fill: #FFFFFF }
.rplm-alert #filled-thumbsup .circle { fill: #02BD85 }
.rplm-alert #filled-thumbsup .base { fill: #F1CDB0 }
.rplm-alert #filled-thumbsup .sleeve { fill: #854D37 }
.rplm-alert #filled-thumbsup .cuff { fill: #C24C28 }
.rplm-alert #filled-thumbsup .dot { fill: #FFFFFF }
.rplm-alert #filled-trash .circle { fill: #90C0D8 }
.rplm-alert #filled-trash .base { fill: #8C8C8C }
.rplm-alert #filled-trash .details { fill: #515151 }
.rplm-alert #filled-trash .lid { fill: #6E6E6E }
.rplm-alert #filled-user .circle { fill: #D1F274 }
.rplm-alert #filled-user .body { fill: #44B2B6 }
.rplm-alert #filled-user .collar_right { fill: #FFFFFF }
.rplm-alert #filled-user .collar_left { fill: #FFFFFF }
.rplm-alert #filled-user .head { fill: #F1CDB0 }
.rplm-alert #filled-user .hair { fill: #AB6125 }
.rplm-alert #filled-winner .circle { fill: #F8B243 }
.rplm-alert #filled-winner .ribbon { fill: #5BB3F0 }
.rplm-alert #filled-winner .base { fill: #1983CD }
.rplm-alert #filled-winner .text { fill: #FFFFFF }
/*=============================================
[ Animation Styles ]
==============================================*/
/*LEFT*/
.rplm-alert #filled-winner .text,
.rplm-alert #filled-user .hair,
.rplm-alert #filled-trash .lid,
.rplm-alert #filled-thumbsdown .base,
.rplm-alert #filled-thumbsup .base,
.rplm-alert #filled-suitcase .buttons,
.rplm-alert #filled-spaceship .light,
.rplm-alert #filled-screen .highlight,
.rplm-alert #filled-rocket .glass,
.rplm-alert #filled-robot .eyes,
.rplm-alert #filled-robot .ears,
.rplm-alert #filled-present .ribbon,
.rplm-alert #filled-plane .middle,
.rplm-alert #filled-picture .sun,
.rplm-alert #filled-phone .screen,
.rplm-alert #filled-pencil .metal,
.rplm-alert #filled-mic .bars_left,
.rplm-alert #filled-message .dots,
.rplm-alert #filled-lock .keyhole,
.rplm-alert #filled-lightning .highlight,
.rplm-alert #filled-home .hole,
.rplm-alert #filled-heart .left,
.rplm-alert #filled-graph .bar_left,
.rplm-alert #filled-folder .paper_front,
.rplm-alert #filled-flag .pole,
.rplm-alert #filled-film .bottom,
.rplm-alert #filled-email .text,
.rplm-alert #filled-disk .bottom,
.rplm-alert #filled-disk .text,
.rplm-alert #filled-diamond .middle,
.rplm-alert #filled-coffee .middle,
.rplm-alert #filled-clock .seconds,
.rplm-alert #filled-camera .strip,
.rplm-alert #filled-calander .left,
.rplm-alert #filled-brush .brush_silver,
.rplm-alert #filled-browser .screen {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: left;
    -moz-animation-name: left;
    -ms-animation-name: left;
    -o-animation-name: left;
    animation-name: left;
}
/*RIGHT*/
.rplm-alert #filled-winner .base,
.rplm-alert #filled-user .body,
.rplm-alert #filled-trash .base,
.rplm-alert #filled-thumbsdown .sleeve,
.rplm-alert #filled-thumbsup .sleeve,
.rplm-alert #filled-tag .base,
.rplm-alert #filled-storm .cloud,
.rplm-alert #filled-spaceship .base,
.rplm-alert #filled-screen .base,
.rplm-alert #filled-rocket .base,
.rplm-alert #filled-robot .base,
.rplm-alert #filled-present .base,
.rplm-alert #filled-picture .mountain,
.rplm-alert #filled-phone .base,
.rplm-alert #filled-pencil .base_middle,
.rplm-alert #filled-paper .base,
.rplm-alert #filled-mic .bars_right rect,
.rplm-alert #filled-magnify .glass,
.rplm-alert #filled-lock .base,
.rplm-alert #filled-location .inner,
.rplm-alert #filled-home .base,
.rplm-alert #filled-graph .bar_middle,
.rplm-alert #filled-folder .paper_back,
.rplm-alert #filled-flag .top,
.rplm-alert #filled-film .base,
.rplm-alert #filled-email .base,
.rplm-alert #filled-disk .base,
.rplm-alert #filled-diamond .right,
.rplm-alert #filled-coffee .base,
.rplm-alert #filled-clock .base,
.rplm-alert #filled-camera .base,
.rplm-alert #filled-calander .base_top,
.rplm-alert #filled-browser .base {
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: right;
    -moz-animation-name: right;
    -ms-animation-name: right;
    -o-animation-name: right;
    animation-name: right;
}
/*TOP RIGHT*/
.rplm-alert #filled-user .head,
.rplm-alert #filled-thumbsdown .cuff,
.rplm-alert #filled-thumbsdown .cuff,
.rplm-alert #filled-suitcase .top,
.rplm-alert #filled-storm .lightning,
.rplm-alert #filled-spaceship .circles,
.rplm-alert #filled-spaceship .glass,
.rplm-alert #filled-settings .top,
.rplm-alert #filled-rocket .engine,
.rplm-alert #filled-robot .highlight,
.rplm-alert #filled-present .top,
.rplm-alert #filled-plane .right,
.rplm-alert #filled-picture .sky,
.rplm-alert #filled-phone .details,
.rplm-alert #filled-pencil .eraser,
.rplm-alert #filled-pencil .base_bottom,
.rplm-alert #filled-paper .front,
.rplm-alert #filled-mic .base,
.rplm-alert #filled-mic .stand,
.rplm-alert #filled-lock .baselight,
.rplm-alert #filled-location .base,
.rplm-alert #filled-lightning .bolt,
.rplm-alert #filled-home .roof,
.rplm-alert #filled-heart .base,
.rplm-alert #filled-graph .bar_right,
.rplm-alert #filled-graph .dot_4,
.rplm-alert #filled-flag .bottom,
.rplm-alert #filled-film .top,
.rplm-alert #filled-disk .top_right,
.rplm-alert #filled-diamond .top_right,
.rplm-alert #filled-diamond .left,
.rplm-alert #filled-coffee .top,
.rplm-alert #filled-clock .face,
.rplm-alert #filled-calander .right,
.rplm-alert #filled-brush .brush_base,
.rplm-alert #filled-browser .top {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: right-top;
    -moz-animation-name: right-top;
    -ms-animation-name: right-top;
    -o-animation-name: right-top;
    animation-name: right-top;
}
/*TOP LEFT*/
.rplm-alert #filled-winner .ribbon,
.rplm-alert #filled-trash .details,
.rplm-alert #filled-thumbsdown .dot,
.rplm-alert #filled-thumbsup .dot,
.rplm-alert #filled-tag .dot,
.rplm-alert #filled-suitcase .bottom,
.rplm-alert #filled-settings .base,
.rplm-alert #filled-screen .stand,
.rplm-alert #filled-rocket .window,
.rplm-alert #filled-robot .antenna,
.rplm-alert #filled-plane .left,
.rplm-alert #filled-picture .front,
.rplm-alert #filled-pencil .base_top,
.rplm-alert #filled-paper .corner,
.rplm-alert #filled-magnify .base,
.rplm-alert #filled-lock .bar,
.rplm-alert #filled-graph .dot_3,
.rplm-alert #filled-flag .shadow,
.rplm-alert #filled-email .paper,
.rplm-alert #filled-disk .top,
.rplm-alert #filled-diamond .top_left,
.rplm-alert #filled-diamond .top_3,
.rplm-alert #filled-clock .minute,
.rplm-alert #filled-camera .flash,
.rplm-alert #filled-calander .number,
.rplm-alert #filled-brush .brush_highlight,
.rplm-alert #filled-browser .green {
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: left-top;
    -moz-animation-name: left-top;
    -ms-animation-name: left-top;
    -o-animation-name: left-top;
    animation-name: left-top;
}
.rplm-alert #filled-user .collar_left,
.rplm-alert #filled-screen .logo,
.rplm-alert #filled-rocket .flame,
.rplm-alert #filled-picture .back,
.rplm-alert #filled-pencil .tip,
.rplm-alert #filled-paper .text,
.rplm-alert #filled-message .front,
.rplm-alert #filled-graph .dot_2,
.rplm-alert #filled-folder .front,
.rplm-alert #filled-email .top,
.rplm-alert #filled-diamond .top_2,
.rplm-alert #filled-clock .hour,
.rplm-alert #filled-camera .red,
.rplm-alert #filled-calander .base_bottom,
.rplm-alert #filled-browser .orange {
    -webkit-animation-delay: .05s;
    -moz-animation-delay: 0.05s;
    -ms-animation-delay: 0.05s;
    -o-animation-delay: 0.05s;
    animation-delay: 0.05s;
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: left-top;
    -moz-animation-name: left-top;
    -ms-animation-name: left-top;
    -o-animation-name: left-top;
    animation-name: left-top;
    -webkit-animation-name: left-top;
    -moz-animation-name: left-top;
    -ms-animation-name: left-top;
    -o-animation-name: left-top;
    animation-name: left-top;
}
.rplm-alert #filled-user .collar_right,
.rplm-alert #filled-plane .bottom,
.rplm-alert #filled-pencil .wood,
.rplm-alert #filled-message .back,
.rplm-alert #filled-graph .dot_1,
.rplm-alert #filled-folder .back,
.rplm-alert #filled-diamond .top_1,
.rplm-alert #filled-clock .middle,
.rplm-alert #filled-camera .button,
.rplm-alert #filled-camera .lens,
.rplm-alert #filled-camera .lens_inner,
.rplm-alert #filled-brush .brush_tip,
.rplm-alert #filled-browser .red {
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: left-top;
    -moz-animation-name: left-top;
    -ms-animation-name: left-top;
    -o-animation-name: left-top;
    animation-name: left-top;
}
/*Keyframes*/
@-moz-keyframes left-top { 
    0% { -webki-transform: translate(-100px, -100px) scale(3,3) }
    1% { -webkit-transform: translate(-100px, -100px) scale(3,3) }
    100% { -webkit-transform: translate(0px ,0px) scale(1,1) }
}
@-webkit-keyframes left-top { 
    0% { -webki-transform: translate(-100px, -100px) scale(3,3) }
    1% { -webkit-transform: translate(-100px, -100px) scale(3,3) }
    100% { -webkit-transform: translate(0px ,0px) scale(1,1) }
}
@keyframes left-top { 
    0% { transform: translate(-100px, -100px) scale(3,3) }
    1% { transform: translate(-100px, -100px) scale(3,3) }
    100% { transform: translate(0px, 0px) scale(1,1) }
}
@-moz-keyframes right-top { 
    0% { -webki-transform: translate(100px, -200px) scale(3,3) }
    1% { -webkit-transform: translate(100px, -200px) scale(3,3) }
    100% { -webkit-transform: translate(0px ,0px) scale(1,1) }
}
@-webkit-keyframes right-top { 
    0% { -webki-transform: translate(100px, -200px) scale(3,3) }
    1% { -webkit-transform: translate(100px, -200px) scale(3,3) }
    100% { -webkit-transform: translate(0px ,0px) scale(1,1) }
}
@keyframes right-top { 
    0% { transform: translate(100px, -200px) scale(3,3) }
    1% { transform: translate(100px, -200px) scale(3,3) }
    100% { transform: translate(0px, 0px) scale(1,1) }
}
@-moz-keyframes right { 
    0% { -webki-transform: translate(100px, 0px) }
    1% { -webkit-transform: translate(100px, 0px) }
    100% { -webkit-transform: translate(0px ,0px) }
}
@-webkit-keyframes right { 
    0% { -webki-transform: translate(100px, 0px) }
    1% { -webkit-transform: translate(100px, 0px) }
    100% { -webkit-transform: translate(0px ,0px) }
}
@keyframes right { 
    0% { transform: translate(100px, 0px) }
    1% { transform: translate(100px, 0px) }
    100% { transform: translate(0px, 0px) }
}
@-moz-keyframes left { 
    0% { -webki-transform: translate(-100px, 0px) }
    1% { -webkit-transform: translate(-100px, 0px) }
    100% { -webkit-transform: translate(0px ,0px) }
}
@-webkit-keyframes left { 
    0% { -webki-transform: translate(-100px, 0px) }
    1% { -webkit-transform: translate(-100px, 0px) }
    100% { -webkit-transform: translate(0px ,0px) }
}
@keyframes left { 
    0% { transform: translate(-100px, 0px) }
    1% { transform: translate(-100px, 0px) }
    100% { transform: translate(0px, 0px) }
}
/* SVG css End*/